<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/Minsu.css' %}"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="totalbox">
      <div class="top">
        <span style="color: white">Hello I'm </span>
      </div>
      <div class="middle">
        <span style="color: rgb(255, 192, 0)"> Minsu Park</span>
      </div>
      <div class="bottom1">
        <span style="color: white">Korea University / Business Major</span>
      </div> </br>
      <div class="bottom2">
        <span style="color: white"
          >currently studying software development at business club 'NEXT' to
          start my business
        </span>
      </div>
    </div>
        <div class="project">
            <a style="color: white;" href="/project">project</a>
        </div>
  </body>
</html>
