.innerBox {
  width: 100px;
  height: 100px;
  background-color: grey;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.outerBox {
  width: 200px;
  height: 200px;
  background-color: tomato;
  position: relative;
  border-radius: 20px;
}
