<!DOCTYPE html>
<html lang="en">
  <head>
    {% load account socialaccount %} {% providers_media_js %} {% load static %}
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ceviche+One&family=Inter:wght@900&family=Jua&family=Koulen&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
    {% block css %} {% endblock css %}
    <title>Project</title>
  </head>

  <body>
    <div class="title">{% block title %} {% endblock title %}</div>
    <div class="container">{% block content %} {% endblock content %}</div>

    <br />
    {% if user.is_authenticated %}
    <span class="navbar__menu__item">Hello, {{user.username}}</span>
    <li class="navbar__menu__item">
      <a href="{% url 'logout'%}">로그아웃</a>
    </li>
    {% else %}
    <li class="navbar__menu__item">
      <a href="{% url 'login'%}">로그인</a>
    </li>
    <li class="navbar__menu__item">
      <a href="{% url 'signup'%}">회원가입</a>
    </li>
    <!-- <li class="navbar__menu__item">
      <a href="{% provider_login_url 'kakao' %}">카카오 로그인</a>
    </li> -->
    <form method="POST" action="{% provider_login_url 'kakao' %}">
      {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
      <input
        type="hidden"
        name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}"
      />
      {% endif %}
      <li>
        <button class="primaryAction" type="submit">
          <img class="kakaoimg" src="{% static 'kakaoimg.png'%}" />
        </button>
      </li>
      <br />
    </form>
    {% endif %}

    <footer>
      <div>주소 : 서울특별시 동대문구 제기로 4길 1</div>
      <div>대표자 : 박민수</div>
      <div>연락처 : 010-XXXX-XXXX</div>
    </footer>
  </body>
</html>
