<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'blog/base.css' %}" />
    {% block css %} {% endblock css %}
    <title>Document</title>
  </head>
  <body>
    <div class="title">{% block title %} {% endblock title %}</div>
    <div class="container">{% block content %} {% endblock content %}</div>

    {% if user.is_authenticated %}
    <span class="navbar__menu__item">Hello, {{user.username}}</span>
    <li class="navbar__menu__item">
      <a href="{% url 'blog:logout'%}">로그아웃</a>
    </li>
    {% else %}
    <li class="navbar__menu__item">
      <a href="{% url 'blog:login'%}">로그인</a>
    </li>
    <li class="navbar__menu__item">
      <a href="{% url 'blog:signup'%}">회원가입</a>
    </li>
    {% endif %}
  </body>
</html>
